@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.nav-bar {

    &__container {
        position: sticky;
        top: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        border-bottom: 2px solid black;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
   
    &__link {
        
        padding-right: 15px;
        cursor: pointer;
        @include font;
        color:black;

        &:hover {
            text-decoration: underline;
        }

    }

    &__links-div{
        display:flex;
    }

    &__link:active{
        color: $primary-colour;
    }


}